/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
} */
.cerchioOnline, .cerchioOffline {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.cerchioOnline{
    background-color: green;
    color: white;
}

.cerchioOffline {
    background-color: red;
    color: yellow;
}

.cerchio{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    margin-right: 10px;
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
li >p{
    margin-bottom: 0;
}