<!-- <app-prova></app-prova> -->
<!--[disabled]="isDisabled"-->
<!-- <button mat-raised-button color="primary" (click)="onClick($event)">Primary</button>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="title">
</mat-form-field> -->

<!--TWo way binding-->

<!-- <p>{{title}}</p> -->


<!--Derectives - le direttive
-built-in (ngClass, ngStyle, ngModel) modificani il comportamento
-attribute modificano comportamento o apparenza di un elemento
-atructural (*ngIf, *ngFor) cambiano il DOM aggiugendo o rimovendo elementi
-->

<!--
*ngIf basico
- else
-then
-->

<!-- <p *ngIf="isVisible">Ciao sono un paragrafo</p> -->
<!-- <ng-template *ngIf="isVisible; then bloccoIf else bloccoElse"></ng-template>
<ng-template #bloccoElse>
    <p>Non sono visibbile</p>
</ng-template>
<ng-template #bloccoIf>
    <p>Sono visibbile</p>
</ng-template>

<p *ngIf="isVisible">Visibbile</p>
<p *ngIf="!isVisible">Non Visibbile</p> -->
<!-- 
<div *ngFor="let persona of persone; index as i">
    <p class="cerchioVerde" *ngIf="persona.isOnline"></p>
    <p class="cerchioRosso" *ngIf="!persona.isOnline"></p>
    <p>{{i}} <strong>{{persona.nome}} </strong> {{persona.cognome}} {{persona.eta}}</p>
</div> -->


<!-- ngSwitch basico -->

<!-- <div [ngSwitch]="stringa">
    <p *ngSwitchCase="'pippo'">UNO</p>
    <p *ngSwitchCase="'paperino'">DUE</p>
    <p *ngSwitchCase="'pluto'">TRE</p>
    <p *ngSwitchCase="'topolino'">QUATTRO</p>
    <p *ngSwitchDefault>default</p>
</div> -->


<!-- *ngStyle-->

<!-- <ul>
    <li *ngFor="let persona of persone">
        <div class="cerchio" [ngStyle]="{background: persona.isOnline ? color: color2}"></div>
        <p>{{persona.nome}} {{persona.cognome}}</p>
    </li>
</ul> -->

<!--ngClass-->

<!-- <ul>
    <li *ngFor="let persona of persone; index as i">
        <div [ngClass]="persona.isOnline ? 'cerchioOnline':'cerchioOffline'">{{i}}</div>
        <p>{{persona.nome}} {{persona.cognome}}</p>
    </li>
</ul> -->

<!--Passare i dati da Component parent a Child-->

<!-- <app-prova [data]="persone"></app-prova>
<button (click)="onClick()">Chiambia Nomi</button> -->


<!--Passare dati da Child a parent-->
<!--MandaDatiEvento e un  @Output nell prova.component.ts che e' un EventEmitter di tipo stringa e gli asennio il valore dell onRiceviDati all event -->
<!-- <app-prova (mandaDatiEvento)="onRiceviDati($event)"></app-prova> -->



<!-- <h2>scegli il colore dell evidenziatore</h2>
<div>
    <input type="radio" name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('red')">Rosso
    <input type="radio" name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('pink')">Rosa
    <input type="radio" name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('purple')">Viola
</div> -->

<!-- <p [appHighlight]="colore">Ciao Sono un paragrafo</p> -->

<!--ESERCIZIO DIRETTIVA CON NEW-PROVA-->
<app-new-prova></app-new-prova>